<?xml version="1.0"?>
<ruleset name="WordPress Library">
    <description>Ruleset for a WordPress library.</description>

    <file>./src</file>

    <exclude-pattern type="relative">^/vendor/*</exclude-pattern>

    <arg name="colors"/>
    <arg value="vs"/>

    <!-- WordPress Coding Standard -->
    <rule ref="WordPress">
        <exclude name="WordPress.VIP.RestrictedFunctions"/>
    </rule>

    <!-- Selected WordPress Coding Standards tweaks -->
    <rule ref="WordPress.Files.FileName">
        <properties>
            <property name="strict_class_file_names" value="false" />
        </properties>
    </rule>
</ruleset>
