<?xml version="1.0"?>
<ruleset name="PSR-2 Theme">
    <description>Ruleset for a PSR-2 theme.</description>

    <file>./*.php</file>
    <file>./src</file>
    <file>./templates</file>
    <file>./template-parts</file>

    <exclude-pattern type="relative">^/vendor/*</exclude-pattern>

    <arg name="colors"/>
    <arg value="vs"/>

    <!-- PSR-2 Coding Standard -->
    <rule ref="PSR2"/>

    <!-- Selected WordPress Coding Standards rules apply -->
    <rule ref="WordPress-Extra">
        <exclude name="Generic.Classes"/>
        <exclude name="Generic.Functions"/>
        <exclude name="Generic.WhiteSpace.DisallowSpaceIndent"/>
        <exclude name="PEAR.Functions"/>
        <exclude name="Squiz.Functions"/>
        <exclude name="Squiz.PHP.DisallowSizeFunctionsInLoops"/>
        <exclude name="WordPress.Arrays.ArrayDeclarationSpacing.NoSpaceAfterArrayOpener"/>
        <exclude name="WordPress.Arrays.ArrayDeclarationSpacing.NoSpaceBeforeArrayCloser"/>
        <exclude name="WordPress.Arrays.ArrayKeySpacingRestrictions"/>
        <exclude name="WordPress.NamingConventions"/>
        <exclude name="WordPress.PHP.YodaConditions"/>
        <exclude name="WordPress.WhiteSpace"/>
    </rule>
    <rule ref="WordPress-Docs"/>
</ruleset>
