<?php
/**
 * Class {{codePackageNamespace}}_Library
 *
 * @package {{codeVendorNamespace}}\{{codePackageNamespace}}
 * @license GNU General Public License v2 (or later)
 * @link    {{packageUrl}}
 */

/**
 * Main class for the library.
 *
 * @since 1.0.0
 */
class {{codePackageNamespace}}_Library {

}
