<?php
/**
 * Class {{codeVendorNamespace}}\{{codePackageNamespace}}\Theme
 *
 * @package {{codeVendorNamespace}}\{{codePackageNamespace}}
 * @license GNU General Public License v2 (or later)
 * @link    {{packageUrl}}
 */

namespace {{codeVendorNamespace}}\{{codePackageNamespace}};

/**
 * Main class for the theme.
 *
 * @since 1.0.0
 */
class Theme {

}
