<?php
/**
 * Class {{codeVendorNamespace}}\{{codePackageNamespace}}\Tests\PHPUnit\Framework\Unit_Test_Case
 *
 * @package {{codeVendorNamespace}}\{{codePackageNamespace}}
 * @license GNU General Public License v2 (or later)
 * @link    {{packageUrl}}
 */

namespace {{codeVendorNamespace}}\{{codePackageNamespace}}\Tests\PHPUnit\Framework;

use PHPUnit\Framework\TestCase;

/**
 * Class representing a unit test case.
 */
class Unit_Test_Case extends TestCase {

}
